<div class="container mt-4">
  <h2>{{ isEditMode ? 'Edit Employee' : 'Add Employee' }}</h2>
  
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="mt-4">
    <div class="mb-3">
      <label for="FirstName" class="form-label">FirstName</label>
      <input type="text" class="form-control" id="name" formControlName="FirstName">
      <div *ngIf="employeeForm.get('FirstName')?.invalid && employeeForm.get('FirstName')?.touched" class="text-danger">
        FirstName is required
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <div *ngIf="employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched" class="text-danger">
        Valid email is required
      </div>
    </div>



    <div class="mb-3">
      <label for="LastName" class="form-label">LastName</label>
      <input type="text" class="form-control" id="LastName" formControlName="LastName">
      <div *ngIf="employeeForm.get('LastName')?.invalid && employeeForm.get('LastName')?.touched" class="text-danger">
        LastName is required
      </div>
    </div>

    <div class="mb-3">
      <label for="position" class="form-label">Position</label>
      <input type="text" class="form-control" id="position" formControlName="position">
      <div *ngIf="employeeForm.get('position')?.invalid && employeeForm.get('position')?.touched" class="text-danger">
        Position is required
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">
      {{ isEditMode ? 'Update' : 'Create' }}
    </button>
    <button type="button" class="btn btn-secondary ms-2" routerLink="/employees">Cancel</button>
  </form>
</div>